.navbar {
  background: $lblue;
  border-radius: 0;
  margin: 0;
  font-size: 0.8em;
  color: $white;
  display: block;
  width: 100%;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
.sign-in-navbar {
  height: 8em;
  img {
    padding: 3.2em 8em;
    zoom: 21%;
  }
}

.form-inputs {
  margin: 1em;
  color: $white;
  .line {
    padding: 0em 2em;
  }
  .small {
    margin-top: -1em;
    a {
      color: $lsilver;
    }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.reg-navbar {
  height: 6em;
  img {
    padding: 2em 6em;
    zoom: 17%;
  }
  a {
    padding: 1.7em 5em;
    color: $white;
    font-size: 1.2em;
    display:inline-block;
  }
  a:hover {
    color: $lsilver;
    text-decoration: none;
  }
}
