.navbar {
  background: $lblue;
  border-radius: 0;
  margin: 0;
  font-size: 0.8em;
  color: $white;
  display: block;
  width: 100%;
}
.sign-in-navbar {
  height: 8em;
  .img {
    width: 25%;
    height: auto;
    margin: 1em;
    @media (max-width:1200px) {
      width: 30%;
    }
  }
  a {
    padding: 3.3em 4em;
    color: $white;
    font-size: 1em;
    display:inline-block;
  }
  a:hover {
    color: $lsilver;
    text-decoration: none;
  }
}

.form-inputs {
  margin: 1em;
  color: $white;
  .line {
    padding: 0em 2em;
  }
  .small {
    margin-top: -1em;
    a {
      color: $lsilver;
    }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.reg-navbar {
  height: 6em;
  img {
  }

}
