@import "alert";
@import "avatars";
@import "header";
@import 'buttons';

body {
  margin: 0;
}

.img-responsive {
}

.sign-up {
  padding: 0.5em;
}

input, select {
  font-size: 1em ;
  color: $black;
  @media (max-width:1200px) {
    border: 1px solid $lsilver;
  }
}

label {
  font-weight: normal;
  @media (max-width:1200px) {
    color: $lblue;
    font-size: 1em;
    font-weight: normal;
    padding-right: 1em;
  }
}
